<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Basics</title>
        <input-field type="bool">
            <name>enable</name>
            <label>Enable imgproxy</label>
            <defaultValue>0</defaultValue>
        </input-field>

        <input-field type="url">
            <name>baseUrl</name>
            <label>BaseUrl of the imgproxy</label>
            <required>false</required>
        </input-field>

        <input-field type="single-select">
            <name>resizeType</name>
            <label>Resize type</label>
            <required>false</required>
            <option>
                <id/>
                <name>empty</name>
                <id>fit</id>
                <name>fit</name>
                <id>fill</id>
                <name>fill</name>
                <id>fillDown</id>
                <name>fillDown</name>
                <id>force</id>
                <name>force</name>
                <id>auto</id>
                <name>auto</name>
            </option>

        </input-field>

        <input-field type="text">
            <name>imageSource</name>
            <label>ImageSourceimgproxy</label>
            <required>false</required>
        </input-field>
    </card>

    <card>
        <title>Secure imgproxy</title>
        <input-field type="text">
            <name>key</name>
            <label>imgproxy key</label>
            <required>false</required>
        </input-field>

        <input-field type="password">
            <name>salt</name>
            <label>imgproxy salt</label>
            <required>false</required>
        </input-field>
    </card>
</config>
